.signup__card__container * {
  color: var(--secondary-color);
}

.signup__card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
  flex: 1;
}

.signup__card__container input {
  color: #000;
}

input:focus, input:active {
  outline: 1px solid #cecece;
}

input[type="checkbox"] {
  outline: none;
}

.signup__card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 7px var(--grey-border-color);
  padding: 1rem 4rem;
  min-height: 70vh;
  width: max-content;
  border-radius: 0.4rem;
}

.signup__card h2,
a {
  align-self: center;
  text-decoration: none;
}

.signup__card .input {
  padding: 0.3rem 0.6rem;
  width: 18rem;
  border-radius: 0.2rem;
  border: 1px solid gray;
}

.signup__card button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: var(--primary-color);
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.checkbox {
  display: flex;
  gap: 0.5rem;
}
