.container {
  display: flex;
  flex-direction: column;
}

.footer__container h3 {
  color: white;
  margin-bottom: 1rem;
}

.footer__container p,
.footer__container a {
  color: #7d7d7d;
  margin-bottom: 0.5rem;
  align-self: flex-start;
}

.footer__container a:hover {
  color: white;
  transition: 0.1s ease-in;
}

.footer-logo-container {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  margin-bottom: 3rem;
  position: relative;
  border-radius: 0.2rem;
}

.footer-logo-container img {
  width: 200px;
  height: auto;
  display: block
}

.footer-logo-container .footer-logo-text {
  color: white;
  position: absolute;
  bottom: -31px;
  left: 31px;
  font-size: 21px;
}

.logo__container h1 {
  color: var(--primary-color);
}

.logo__container + p {
  color: white;
}

.logo__container:hover {
  box-shadow: 0px 0px 15px var(--primary-color);
}

.brand__contianer {
  grid-area: brand;
  width: min-content;
  justify-self: center;
}

.categories__contianer {
  grid-area: categories;
}

.socials__contianer {
  grid-area: socials;
}

.contact__contianer {
  grid-area: contact;
}

.copyright__contianer {
  grid-area: copyright;
  margin-top: 2rem;
}

.copyright__contianer h3 {
  margin: 0rem;
}
.copyright__contianer a {
  text-decoration: underline;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer__container {
  background-color: #202020;
  display: grid;
  grid-template-areas:
    "brand brand"
    "categories categories"
    "socials contact"
    "copyright copyright";
  row-gap: 2rem;
  padding: 2rem 2rem 1rem 2rem;
}

@media screen and (min-width: 480px) {
  .footer__container {
    grid-template-areas:
      "brand categories"
      "socials contact"
      "copyright copyright";
      padding: 2rem 2rem 1rem 2rem;
  }

  .categories {
    flex-direction: column;
  }

  .brand__contianer {
    justify-self: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    justify-items: center;
    grid-template-areas:
      "brand categories socials contact"
      "copyright copyright copyright copyright";
      padding: 3rem 2rem 1rem 2rem;
  }

  .brand__contianer {
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
}
