@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --navbar-color: #000;
  --main-content-color: #191919;
  --primary-color: #5348c7;
  --secondary-color: #333333;
}

.App {
  position: relative;
  background-color: var(--main-content-color);
}
